<div class="row">
  <div class="span6 offset3">
    <h4><%= @product.name %></h4>
  </div>
  <div class="span2 offset1">
    <h4 class="text-right"><%= number_to_currency(@product.price) %></h4>
  </div>
</div>
<div class="row">
  <div class="span6 offset3 well">
    <%= image_tag @product.image_url %>
  </div>
</div>
<div class="row">
  <div class="span6 offset3">
    <blockquote>
      <p><%= @product.description %></p>
      <small>Sheriff Rick</small>
    </blockquote>
  </div>
</div>

